{% extends 'base.html' %}


{% block content %}

<h1> {{ project.title }} </h1>

<hr>
		
<a href="#create_catalogue" role="button" class="btn" data-toggle="modal"> <i class="icon-plus"></i>Add key</a>
<a href="#LanguageCreateModal" role="button" class="btn" data-toggle="modal"> <i class="icon-file"></i>Add Language</a>

<a href="#FileUploadModal" role="button" class="btn pull-right" data-toggle="modal"><i class="icon-arrow-up"></i>Upload a file</a>
<br>
<br>



Total input strings are {{ catalogue|length }}   
<br><br>
<div class="row">
{% if languages %}

		{% for language in languages %}
		<div class="span8">
			<div class="well well-small">
				<h3> <a href="/projects/{{project.id }}/languages/{{language.id }}/translations/">{{language.description}}</a> </h3>

				<div class="progress">
				  <div class="bar" style="width: {{ language.percent_complete }}%;"></div>
				</div>

				<br><br><br>
				<p> <a href="/projects/{{project.id }}/languages/{{language.id }}/download/?platform=android">strings.xml</a>  </p>
				<p> <a href="/projects/{{project.id }}/languages/{{language.id }}/download/?platform=ios">Localizable.strings</a>  </p>

			</div>
		</div>

		{% endfor %}
{% endif %}
</div>







<!-- Modal -->
<div id="FileUploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form action="/projects/{{ project.id }}/languages/1/translations/" method="post" enctype="multipart/form-data">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">File upload</h3>
		  </div>
		  <div class="modal-body">
		  		<p> Please select the type of file </p>

					{% csrf_token %}
					<select id="platform" name="platform">
					  <option value="android">Android (strings.xml file)</option>
					  <option value="ios">iOS (Localizable.strings file)</option>
					</select>
				<p> Select the Language of the file </p>
					<select id="language" name="language" >
						{% for language in languages %}
						  <option value="{{ language.id }}">{{ language.description }}</option>
					  	{% endfor %}
					</select>


					<p>{{ form.non_field_errors }}</p>
					<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
					<p>
						{{ form.docfile.errors }}
						{{ form.docfile }}
					</p>

		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		    <button class="btn btn-primary">Upload</button>
		  </div>
    </form>
</div>



<!-- Create a catalogue -->
<div id="create_catalogue" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createLable" aria-hidden="true">
	<form action="/projects/{{ project.id }}/create/" method="post" enctype="multipart/form-data">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="createLable">Create an entry</h3>
		  </div>
		  <div class="modal-body">
		  		<p> Please select the type of file </p>

					{% csrf_token %}
				<p> Select the Language of the file </p>
					<select id="language" name="language_id" >
						{% for language in languages %}
						  <option value="{{ language.id }}">{{ language.description }}</option>
					  	{% endfor %}
					</select>


                  <div class="control-group">
                    <label class="control-label" for="inputMsgKey">Message Key</label>
                    <div class="controls">
                      <input type="text" name="msg_key" id="inputMsgKey" value="" >
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputMsgString">Message String</label>
                    <div class="controls">
                      <input type="text" name="msg_string" id="inputMsgString" value="" >
                    </div>
                  </div>

		  </div>
		  <div class="modal-footer">
		    <button class="btn btn-primary">Save</button>
		  </div>
    </form>
</div>



<div id="LanguageCreateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="languageLabel" aria-hidden="true">
 	<form action="/projects/{{project.id}}/languages/create" method="post" enctype="multipart/form-data">
 		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="languageLabel">Add a Language</h3>
		  </div>
		  <div class="modal-body">
					{% csrf_token %}
					<div class="control-group">
						<label class="control-label" for="inputLanguageId">Title</label>
						<div class="controls">
							<input type="text" name="language_id" id="inputLanguageId" value="" >
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputLanguageName">Description</label>
						<div class="controls">
							<input type="text" name="language_name" id="inputLanguageName" value="" >
						</div>
					</div>
	
		  </div>
		  <div class="modal-footer">
		    <button class="btn btn-primary" onclick="create_event()">Add a Language</button>
		  </div>
     </form>
 </div>



{% endblock %}